#img {
 background-image: url('https://cdn.mos.cms.futurecdn.net/aFB2p4XLvtZNYXPLnniNdQ-1200-80.jpg'); 
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}
.subscribe-form {
 text-align: center;
 margin: 50px auto;
 width: 80%;
 max-width: 400px;
}
.subscribe-form input[type="email"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
}
.subscribe-form input[type="submit"] {
 width: 100%;
 padding: 10px;
 border-radius: 5px;
 border: none;
 background-color: #80CAE2;
 cursor: pointer;
}
.subscribe-form input[type="submit"]:hover {
 background-color: #444;
}
h1, h2, h3, h4, h5, h6 {
 font-family: Helvetica;
 color: white;
 color: #46519B;
}
footer {
 background-color: #46519B;
}





 
 
